@font-face {
    font-family: 'Comic Sans MC';
    src: url(assets/fonts/ComicSansMS.ttf);
}

* {
    font-family: 'Comic Sans MC', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    user-select: none;
}

:root {
    --in_progress_item: black;
    --in_progress_background: #DFE1E5;
    --calm_item: #6D6F78;
    --calm_background: #F2F3F5;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

header {
    padding: 30px;
}

h4 {
    color: var(--calm_item);
}